#timestamp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
}

#timestamp-container h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

#timestamp-container p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 2rem;
}

#timestamp-form {
    display: flex;
    flex-direction: column;
}

#timestamp-input {
    padding: 2rem 0;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
}

#timestamp-submit {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
}

#timestamp-parse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#timestamp-parse h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 1.5rem;
}

#timestamp-parse p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: .4rem;
}